

@media screen and (min-width: 375px) {
    
    .container {
            width: 335px
        }

    .advertisement-container {
        width: 320px;
    }
}


@media screen and (min-width: 768px) {
        .container {
                width: 704px
            }
        
            .section {
                padding: 100px 0
            }

    .your-order {
            padding: 100px 0
        }
    
        .order-title {
            font-size: 64px;
            line-height: 1;
            max-width: 640px;
            margin-bottom: 25px
        }
    
        .harvest-text {
            max-width: 640px;
            font-size: 16px;
            line-height: 1.25;
            margin-bottom: 50px
        }
                  .vegetables-text {
                      max-width: 640px;
                      font-size: 16px;
                      line-height: 1.25;
                      margin-bottom: 50px
                  }
    
        .order-row {
            display: flex;
            flex-direction: column;
            align-items: center
        }
    
        .order-col {
            padding: 50px 100px;
            margin-bottom: 25px
        }
    
        .order-txt {
            margin-bottom: 50px;
            max-width: 428px
        }
    
        .order-input {
            height: 52px;
            padding: 16px
        }
    
        .order-comment {
            height: 95px;
            padding: 16px;
            font-size: 18px
        }
    
        .order-comment::placeholder {
            font-size: 16px;
            line-height: 1.25
        }
    
        .order-comment-tag {
            margin-bottom: 10px
        }
    
        .order-btn {
            height: 52px
        }
    
        .your-order-social {
            padding: 50px
        }
    
        .your-order-img {
            max-width: 528px;
            margin-bottom: 50px
        }
    
        .follow-text {
            font-size: 18px;
            line-height: 1.11111;
            margin-bottom: 15px
        }
    
        .follow-us {
            font-size: 32px;
            line-height: 1
        }
    .advertisement {
        padding: 100px 0
    }

    .advertisement-container {
        width: 736px
    }

    .advertisement-text {
        max-width: 704px;
        font-size: 64px;
        line-height: 1.09;
        padding: 0 16px
    }

    .text-discount {
        padding: 8px 16px;
        max-width: 736px;
        font-size: 64px;
        line-height: 1.09;
        margin: 0 -48px 0 -16px
    }

}

@media screen and (min-width: 1280px) {

        .container {
                width: 1080px;
            }
    .your-order {
            padding: 100px 0;
        }
    
        .order-title {
            max-width: 751px;
        }
    
        .harvest-text {
            max-width: 742px;
        }
        .vegetables-text {
        max-width: 742px;
        }
    
        .order-row {
            flex-direction: row;
            align-items: center;
            gap: 24px
        }
    
        .order-col {
            padding: 50px;
            margin-bottom: 0
        }
    
        .your-order-img {
            height: 273px
        }
    
        .follow-list {
            max-width: 357px
        }
    
        .follow-slash {
            font-size: 32px
        }
    .advertisement-container {
        width: 1080px
    }

    .advertisement-text {
        max-width: 1080px;
        font-size: 76px;
        line-height: 1.05;
        word-wrap: break-word
    }

    .text-discount {
        font-size: 76px;
        line-height: 1.05;
        word-wrap: break-word;
        display: inline;
        max-width: 808px;
        padding: 0 13px;
        margin: 0 6px 0 -13px
    }
}
