@media screen and (min-width: 1280px) {
  .your-order {
    padding: 100px 0;
  }

  .order-title {
    max-width: 751px;
  }

  .harvest-text {
    max-width: 742px;
  }
  .vegetables-text {
    max-width: 742px;
  }

  .order-row {
    flex-direction: row;
    align-items: center;
    gap: 24px;
  }

  .order-col {
    padding: 50px;
    margin-bottom: 0;
  }

  .your-order-img {
    height: 273px;
  }

  .follow-list {
    max-width: 357px;
  }

  .follow-slash {
    font-size: 32px;
  }
  .advertisement-container {
    width: 1080px;
  }

  .advertisement-text {
    max-width: 1080px;
    font-size: 76px;
    line-height: 1.05;
    word-wrap: break-word;
  }

  .text-discount {
    font-size: 76px;
    line-height: 1.05;
    word-wrap: break-word;
    display: inline;
    max-width: 808px;
    padding: 0 13px;
    margin: 0 6px 0 -13px;
  }
}
