*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
:root {
  --font-family: "Inter Tight", sans-serif;
}
body {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}

/* advertisement sectionu */

.advertisement {
  margin: 100px 100px 100px 100px;
  padding: 0px 13px 0px 13px;
  display: flex;
  justify-content: flex-start;
}

.advers-p {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 76px;
  line-height: 105%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}
.advers-span {
  color: #ffffff;
  background-color: #576f35;
  border-radius: 10px;
}
.visually-hidden {
  overflow: hidden;
  visibility: hidden;
}

/* hero section */
.hero {
  background-color: #576F35;
  display: flex;
  padding: 0px 0px 0px 100px;
  width: 1280px;
  height: 800px;
  margin: 0 auto;
  position: relative;
}

.hero-left {
  width: 502px;
  height: 562px;
  margin-top: 200px;
}

.hero-h1, .hero-paragraph {
  color: #ffffff;
}

.hero-h1 {
  font-weight: 600;
  font-size: 76px;
  line-height: 100%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  padding: 0 0 50px 0;
}

.hero-right {
  width: 650px;
  height: 800px;
  background: rgba(20, 20, 20, 0.2), url("path_to_image");
}

.hero-paragraph {
  width: 472px;
}

.reviews {
  padding: 100px;
  width: 1280px;
  height: 701px;
}